
# Analysis

In [1]:
# Dependencies
import pandas as pd

# Save path to data in a variable
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read data and store in dataframe
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine data to single dataset
total_school_data = pd.merge(school_data_df, student_data_df, how="left", on=["school_name", "school_name"])
total_school_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [2]:
# Total number of unique schools 
school_count = len(total_school_data["school_name"].unique())
school_count

15

In [5]:
# Total number of students 
student_count = total_school_data["student_name"].count()
student_count

39170

In [ ]:
# Total budget SUM & UNIQUE?

In [3]:
# Average math score
ave_math_score = total_school_data["math_score"].mean()
ave_math_score

78.98537145774827

In [4]:
# Average reading score
ave_reading_score = total_school_data["reading_score"].mean()
ave_reading_score

81.87784018381414

In [6]:
# Percentage passing math
passing_math_count = total_school_data[(total_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_count
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878